body.landing {
    background-color: rgb(58,23,63); /* sets the background color to an RGB value (see below) */
}

.hero-content {
    position: relative;
    min-height: 600px;
    background-image: url(../assets/images/bloc_jams_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-content .hero-title {
    position: absolute;             /* positioning will be explained in a resource */
    top: 40%;                       /* positioning will be explained in a resource */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;                    /* makes sure the title inhabits the full width of its container */
    text-align: center;             /* aligns text in the horizontal center of the element */
    font-size: 4rem;                /* specifies the size of the font in root em units */
    font-weight: 300;               /* makes the font thinner or lighter weight */
    text-transform: uppercase;      /* transforms the text to be all uppercase lettering */
    letter-spacing: 0.5rem;         /* puts 0.5 root ems worth of space between each letter */
    text-shadow: 1px 1px 0px rgb(58,23,63); /* creates a shadow underneath the text for readability over the image */
}

.selling-points {
    position: relative;
}
 
.point {
    position: relative;
    padding: 2rem;
    text-align: center;
    opacity: 0;
    -webkit-transform: scaleX(0.9) translateY(-2rem);
    -moz-transform: scaleX(0.9) translateY(-2rem);
    transform: scaleX(0.9) translateY(-2rem);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition-delay: 0.25s;
    -moz-transition-delay: 0.25s;
    transition-delay: 0.25s;
}
 
.point .point-title {
    font-size: 1.25rem;
}
 
.ion-music-note,
.ion-radio-waves,
.ion-iphone {
    color: rgb(233,50,117);
    font-size: 5rem;
}
